

.App {
    color: #FFD600;
    display: grid;
    justify-content: center;
    padding: 161px;
    justify-items: center;
  }
  
  .loading{
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 7px;
    text-decoration: wavy;
    letter-spacing: 1px;
    color: #FFD600;
    margin-left: 40px;
  }
  
  .error {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
  }
  .containerSelect{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 15px;
    place-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  