.container {
    display: flex;
    align-items: center; 
    gap : 10px;
}

.selectContainer {
    display: flex; 
    align-items: center; 
}


.clearButton {
    margin-left: 10px;
}

.clearButton:hover {
    background-color: #FFD600;
}

.title {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;

}

.select {
    width: 200px;
    height: 35px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: white;
    outline: none;
    transition: border-color 0.3s ease;
}

.select:hover,
.select:focus {
    border-color: #555d65;
}