.movie-list {
    padding: 0px 20px;
    grid-gap: 10px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: auto;
    display: grid;
}

.movie-list-item {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.movie-poster {
    width: 100px;
    margin-right: 10px;
}

.movie-details {
    display: inline-block;
    vertical-align: top;
}

.movie-title {
    margin: 0;
}

.movie-release-year,
.movie-genres,
.movie-rating {
    margin: 0;
}